PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/smart-stadiums?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkeyforfifa2026smartstadiums
GEMINI_API_KEY=AIzaSyYourActualGeminiAPIKeyHere
NODE_ENV=development
