PORT=5000
MONGO_URI=mongodb+srv://Smart-Stadiums-&-Tournament:sumant11@cluster0.5ucgqqm.mongodb.net/?appName=Cluster0
JWT_SECRET=supersecretjwtkeyforfifa2026smartstadiums
GEMINI_API_KEY=AIzaSyYourActualGeminiAPIKeyHere
NODE_ENV=development
